@font-face {
    font-family: 'icon';
    src: url('font/icon.eot?62134537');
    src: url('font/icon.eot?62134537#iefix') format('embedded-opentype'),
         url('font/icon.woff2?62134537') format('woff2'),
         url('font/icon.woff?62134537') format('woff'),
         url('font/icon.ttf?62134537') format('truetype'),
         url('font/icon.svg?62134537#icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style:normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 10px;
    margin-right: 10px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 10px;
    margin-left: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    
    
  }
  
  .icon-home:before { content: '\e800'; } 
  .icon-person:before { content: '\e801'; } 
  .icon-id:before { content: '\e803'; } 
  .icon-network:before { content: '\e804'; } 
  .icon-blog:before { content: '\e805'; }
  .icon-contact:before { content: '\e806'; } 
  .icon-location:before { content: '\e807'; } 

  @font-face {
    font-family: 'icon';
    src: url('font1/icon.eot?83979864');
    src: url('font1/icon.eot?83979864#iefix') format('embedded-opentype'),
         url('font1/icon.woff2?83979864') format('woff2'),
         url('font1/icon.woff?83979864') format('woff'),
         url('font1/icon.ttf?83979864') format('truetype'),
         url('font1/icon.svg?83979864#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  .icon-instagram:before { content: '\e809'; } 
  .icon-twitter:before { content: '\e80a'; }
  .icon-facebook:before { content: '\e80b'; } 